{% extends 'base.html' %} <!-- herda layout base para construção das paginas -->

{% block title %}Serviço{% endblock %} <!-- troca de titulo da pagina local -->

{% block style %} <!-- troca de estilo para pagina local -->
<style>
    body {
        background: #82c713;
    }
</style>
{% endblock %} <!-- fim do bloco -->

{% block container %} <!-- conteúdo principal -->
    <center>
        <h1>Pagina de Serviços</u></h1>
        <p>Estamos na página Serviços</p>
    </center>
{% endblock %} <!-- fim do bloco -->
