<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}FastAPI Web na Geek University{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block style %} <!-- link para estilo layout base -->
            <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
        {% endblock %}
    </head>
    <body>
       <h1>FastApi Web</h1>
       <div>
            <a href="/">Home</a>
            <a href="/servicos">Serviços</a>
       </div>
       <div class="container">
            {% block container %} <!-- conteúdo principal -->
            {% endblock %} <!-- fim do bloco -->
       </div>
    </body>
</html>