{% extends 'base.html' %} <!-- define uso do layout base.py -->

{% block title %}Serviço{% endblock %} <!-- troca de titulo da pagina local -->

{% block style %} <!-- troca de estilo para pagina local -->
    <style>
        body {
            background: #429c65;
        }
    </style>
{% endblock %} <!-- fim do bloco -->

{% block container %} <!-- conteúdo principal -->
<center>
    <h1>Cadastro de Serviços</h1>
    <form action="/servicos" enctype="multipart/form-data" method="post" autocomplet="off"> <!-- formulário de ação HTML -->
        <div>
            <input type="text" name="servico" placeholder="Informe o serviço" required autofocus/> <!-- campo de entrada em texto -->
            <button type="submit">Cadastrar</button> <!-- botão de ação -->
        </div>
    </form>
</center>
{% endblock %} <!-- fim do bloco -->
